  <!-- js file include-->
    <!-- Javascript -->
    <load src="__JS__/jquery/jquery-2.1.0.min.js"></script>
    <load src="__JS__/bootstrap/bootstrap.min.js"></script>
    <load src="__JS__/plugins/modernizr/modernizr.js"></script>
    <load src="__JS__/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
    <load src="__JS__/king-common.js"></script>
    <load src="__JS__/deliswitch.js"></script>
    <load src="__JS__/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>

    <block name="script"></block>
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}